.p-wrapper h5 {
  color: var(--primary);
}

.p-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.p-details {
  display: flex;
  row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.p-details h6 {
  color: var(--primary);
  font-weight: bolder;
  margin-bottom: .75rem;
}

.p-features {
  color: var(--primary);
  flex: 6;
  justify-content: start;
  margin-bottom: 0.75rem;
}

.p-image {
  flex: 4;
}

.p-details li {
  margin-bottom: 0.75rem;
}

.p-chips{
  gap: 1rem;
  margin-top: 1rem;
}
