.a-wrapper {
  color: var(--primary);
  padding: 7rem 3rem;
}

.a-container {
  position: relative;
  gap: 2rem;
  flex: 6;
}

.a-container .title::after {
  content: "";
  display: block;
  position: absolute;
  top: -150px;
  left: -150px;
  z-index: -1;
  width: 420px;
  height: 420px;
  background-image: url('/blob3.png');
  background-size: cover;
  opacity: 0.6;
}


.a-social {
  gap: 1rem;
}

.a-social svg:hover {
  color: #3C2A21;
}

.a-social .btn-cv {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  gap: .5rem;
  font-weight: bolder;
  border: none;
  font-size: medium;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
}

.a-mail {
  gap: 1rem;
}

.a-mail > svg {
  cursor: pointer;
}

.a-mail > svg:hover {
  color: #3C2A21;
}

.a-images {
  flex: 4;
}

